{% extends 'track/base.html' %}
{% block content %}
    <h1>Processed samples</h1>
    <div class="my-3">
        <table id="samples"
               data-pagination="true"
               data-sort-name="sampleId"
               data-sort-order="asc"
               data-sortable="true"
               data-search="true"
               data-detail-view="true"
               data-detail-formatter="detailFormatter">
            <thead>
            <tr>
                <th data-sortable="true" data-field="patient_covid_id">Patient ID</th>
                {% for panel in panels %}
                    <th data-sortable="true" data-field="{{ panel }}" data-formatter="dateFormat">{{ panel }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
    <script>
        function detailFormatter(index, row) {
            let html = [];
            let panels = {{ panels | safe}};
            let notIncluded = ["patient_covid_id", "biobank_id", "id", "uploaded_file_id", "clinical_sample_id", "created", "modified"];
            $.each(row, function (key, value) {
                if (notIncluded.includes(key) | panels.includes(key))
                    return;
                html.push('<p><b>' + key + ':</b> ' + value + '</p>')
            });
            return html.join('')
        }

        function dateFormat(value, row, index) {

            return value ? new Date(value).toLocaleDateString("en-GB") : "";
        }

        $(function () {
            $('#samples').bootstrapTable({
                data: {{ table_json | safe }}
            });
        })
    </script>
{% endblock %}