{% extends 'track/base.html' %}
{% block content %}
    <select class="custom-select">
        <option value="null">Select a patient</option>
        {% for patient in patients %}
            <option value="{{ patient.id }}" {% ifequal selected patient %}
                    selected {% endifequal %}>{{ patient.patient_id }}</option>
        {% endfor %}
    </select>
{% if selected != None %}
        <table id="observations"
           data-toggle="table"
           data-pagination="true"
           data-sortable="true"
           data-search="true"
           data-mobile-responsive="true">
        <thead>
        <tr>
            <th data-sortable="true">Panel</th>
            <th data-sortable="true">Parameter</th>
            <th data-sortable="true">Value</th>
        </tr>
        </thead>
        <tbody>
        {% for observation in numeric %}
            <tr>
                <td data-value="{{ observation.panel_name }}">{{ observation.panel_name }}</td>
                <td data-value="{{ observation.parameter.gating_hierarchy }}">{{ observation.parameter.gating_hierarchy }}</td>
                <td data-value="{{ observation.value }}">{{ observation.value }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}


    <script>
        $('select').on('change', function (e) {
            if (!this.value) {
                window.location = "/track/observations";
            } else {
                window.location = "/track/observations?patient=" + this.value;
            }
        });
    </script>
{% endblock %}