{% load static %}

<footer class="bg-dark py-1 mt-auto shadow">
    <div class="row mx-0">
        <div class="col-2"></div>
        <div class="col-10 pl-5">
            <div class="row">
                <div class="col-lg-2 col-md-2 text-white text-right d-flex align-items-center">
                    <div class="w-100">A collaboration by:</div>
                </div>
                <div class="col-lg-2 col-md-3 d-flex align-items-center">
                    <img src="{% static '/track/img/kcl_logo.svg' %}" height="80px">
                </div>
                <div class="col-lg-2 col-md-3 d-flex align-items-center">
                    <img src="{% static '/track/img/crick_logo.png' %}" height="120px">
                </div>
                <div class="col-lg-3 col-md-4 d-flex align-items-center">
                    <img src="{% static '/track/img/ebi_logo.svg' %}" height="60px">
                </div>
            </div>
        </div>
    </div>
</footer>