<div class="left-sidebar">
    <ul class="nav flex-column sidebar-nav">
        <li class="nav-item">
            <a class="nav-link active text-info" href="#">
                <i class="fas fa-hospital-user"></i>
                Patients
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active text-info" href="#">
                <i class="fas fa-vials"></i>
                Samples
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active text-info" href="#">
                <i class="fas fa-file-medical-alt"></i>
                Panels
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active text-info" href="#">
                <i class="fas fa-microscope"></i>
                Observations
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active text-info" href="#">
                <i class="far fa-compass"></i>
                Explore
            </a>
        </li>

    </ul>
</div>